Python 3.9.7

HTTP library: Requests
import requests

Library that makes it easy to scrape information from web pages: Beautiful Soup
from bs4 import BeautifulSoup

Package is used to automate web browser interaction from Python: Selenium
from selenium import webdriver

WebDriver: ChromeDriver
https://chromedriver.chromium.org/
